html {
  --accent: rgb(137, 204, 102);
  --color: #333;
  --color-inverted: #f8f8f8;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: var(--color);
}

/* global layout */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px 20px;
  color: var(--color-inverted);
}

footer {
  background-color: #333;
}

/* global header */
body>header {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: var(--accent);

  h1 {
    flex: 1;
  }

  nav>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
}